:root {
    --kuning: #EBD96B;
    --kuningMuda: #FFD097;
    --orange: #E9A225;
    --orangeMuda: #EAC178;
    --putih: #ffffff;
    --abu: #5C5C5C;
    --hitam: #333333;
    --coklat: #9E6500;
    --biru: #F4F6F5;
    --hijau: #4caf50;
    --gradient: linear-gradient(133deg, #0043FF -3.41%, #A370F1 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

    /*FONT*/
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 16px;
}
* h1 {
    font-size: 2rem;
    font-weight: 800;
}
* h2 {
    font-size: 1.5rem;
    font-weight: 700;
}
* h3 {
    font-size: 1.35rem;
    font-weight: 600;
}
* h4 {
    font-size: 1.15rem;
    font-weight: 500;
}
* p, * a {
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 600px) {
    html {
        font-size: 11px;
    }
}