@import "main-style.css";


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/*TOMBOL BALIK*/
.tombol-balik {
    position: absolute;
    top: 5rem;
    left: 2rem;
}
.tombol-balik img {
    width: 2rem;
    height: auto;
    opacity: 70%;
    transition: 0.25s ease-in-out;
}
.tombol-balik img:hover {
    width: 2rem;
    height: auto;
    opacity: 100%;
    transition: 0.25s ease-in-out;
}

.card-body h5 {
    text-align: center;
    font-weight: 700;
}
.card {
    background: #EAC178;
    width: 25rem;
    height: 28rem;
    border-radius: 2rem 2rem 0 0;
    transition: 0.25s ease-in-out;
}
.card:hover {
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.50);
    transition: 0.25s ease-in-out;
}
.card .top {
    background: #F1F1F2;
    border-radius: 1rem;
    padding: 2rem;
    height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: justify;
}
.card .top h2 {
    font-weight: 700;
}
.card .mid {
    background: #FFC256B2;
    padding: 1rem;
}
.card .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 2rem;
}
.card .bottom h4 {
    background: var(--putih);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.card ul {
    list-style: none;
    color: var(--putih);
}
.apply-button {
    margin: 2rem 0 3rem 0;
}
.apply-button a {
    text-decoration: none;
    font-size: 1.5rem;
    background: var(--putih);
    color: var(--hitam);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: 0.35s ease-in-out;
}
.apply-button a:hover {
    background: var(--abu);
    color: var(--putih);
    border-radius: 2rem;
    transition: 0.35s ease-in-out;
}